.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  transition: opacity 100ms linear;
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.note-modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 400px;

  padding: 100px;
  border-radius: 10px;

  background-color: var(--accent);

  transform: translate(-50%, -50%);

  font-size: 2rem;
  color: white;
}

.note-form {
}

.note-form-submit {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
}

.note-form-submit-icon {
  width: 50px;
  height: 50px;
}

.note-form-name-label {
  display: block;
  margin-bottom: 40px;
}

.note-form-name-input {
  display: block;
  height: 20px;
  width: 380px;

  padding: 10px;
  border: none;
  border-radius: 10px;

  font-size: 1.8rem;
}

.note-form-category-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.note-form-category-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.note-form-category-label {
  margin-right: 20px;

  font-size: 1.5rem;
}

.note-form-category-input {
  width: 15px;
  height: 15px;
}

.note-form-content-label {
  display: block;
}

.note-form-content-input {
  display: block;
  width: 380px;
  height: 200px;
  margin-bottom: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.8rem;
  resize: none;
}

.note-form-dates-label {
  display: block;
}

.note-form-dates-input {
  display: block;
  width: 380px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.8rem;
  resize: none;
}

.close-note-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}

.close-note-modal-btn-icon {
  width: 40px;
  height: 40px;
}
