.titles {
  display: flex;
  align-items: center;
  background-color: var(--title-bg);

  border-radius: 10px;

  font-size: 1.2rem;
  font-weight: 700;
  color: var(--title-color);
}

.line {
  display: flex;
  align-items: center;

  margin-top: 10px;
  background-color: var(--notes-bg);
  border-radius: 10px;

  color: var(--notes-text-color);
}

.title {
  padding: 10px;
}

.field {
  padding: 15px 10px;
}

.category-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--accent);
}

.category-icon > img {
  width: 25px;
  height: 25px;
}
