.table-archived-notes .name {
  font-weight: 700;
  color: var(--notes-title-color);
}

.table-archived-notes .icon {
  width: 50px;
}

.table-archived-notes .name {
  width: 176px;
}

.table-archived-notes .created {
  width: 120px;
}

.table-archived-notes .category {
  width: 120px;
}

.table-archived-notes .content {
  width: 288px;
}

.table-archived-notes .dates {
  width: 176px;
}

.table-archived-notes .edit,
.table-archived-notes .delete,
.table-archived-notes .archive {
  width: 30px;
}
