.archived-notes {
  display: none;
}
.archived-notes.isHidden {
  display: block;
}

.subtitle {
  font-size: 2rem;
  color: var(--notes-title-color);
}

.icon {
  width: 50px;
}

.name {
  width: 176px;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--notes-title-color);
}

.created {
  width: 90px;
}

.category {
  width: 120px;
}

.content {
  width: 344px;
  font-size: 1.1rem;
  cursor: pointer;
}

.dates {
  width: 150px;
}

.edit,
.delete,
.archive {
  width: 30px;
}
